# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env*
!.env.local.example

# Build
build/
dist/

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
